GOOSE_DRIVER="mysql"
GOOSE_MIGRATION_DIR=./migrations

GOOSE_DBSTRING="user:password@tcp(127.0.0.1:3306)/alma?parseTime=true"
DWH_DBSTRING="user:password@tcp(127.0.0.1:3306)/dwh_json_ver?parseTime=true"
SUPERMAN_DBSTRING="user:password@tcp(127.0.0.1:3306)/salak?parseTime=true"

FINCLOUD_USERNAME=
FINCLOUD_PASSWORD=
FINCLOUD_ROLE_ID=
FINCLOUD_LOCATION_ID=